__pycache__/
hw/build/
hw/*.tar.gz
hw/project/build.properties
hw/project/target/scala-2.12/sbt-1.0/sync/copy-resource
hw/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
hw/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
hw/project/target/streams/_global/_global/_global/streams/out
hw/project/target/streams/_global/csrConfiguration/_global/streams/out
hw/project/target/streams/_global/csrProject/_global/streams/out
hw/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
hw/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
hw/project/target/streams/_global/ivyConfiguration/_global/streams/out
hw/project/target/streams/_global/ivySbt/_global/streams/out
hw/project/target/streams/_global/moduleSettings/_global/streams/out
hw/project/target/streams/_global/projectDescriptors/_global/streams/out
hw/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
hw/project/target/streams/_global/update/_global/streams/out
hw/project/target/streams/compile/_global/_global/compileOutputs/previous
hw/project/target/streams/compile/_global/_global/discoveredMainClasses/data
hw/project/target/streams/compile/bspReporter/_global/streams/out
hw/project/target/streams/compile/compile/_global/streams/out
hw/project/target/streams/compile/compileIncremental/_global/streams/export
hw/project/target/streams/compile/compileIncremental/_global/streams/out
hw/project/target/streams/compile/copyResources/_global/streams/out
hw/project/target/streams/compile/dependencyClasspath/_global/streams/export
hw/project/target/streams/compile/exportedProducts/_global/streams/export
hw/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
hw/project/target/streams/compile/incOptions/_global/streams/out
hw/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
hw/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
hw/project/target/streams/compile/managedClasspath/_global/streams/export
hw/project/target/streams/compile/scalacOptions/_global/streams/out
hw/project/target/streams/compile/unmanagedClasspath/_global/streams/export
hw/project/target/streams/compile/unmanagedClasspath/_global/streams/out
hw/project/target/streams/compile/unmanagedJars/_global/streams/export
hw/project/target/streams/runtime/dependencyClasspath/_global/streams/export
hw/project/target/streams/runtime/exportedProducts/_global/streams/export
hw/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
hw/project/target/streams/runtime/fullClasspath/_global/streams/export
hw/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
hw/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
hw/project/target/streams/runtime/managedClasspath/_global/streams/export
hw/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
hw/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
hw/project/target/streams/runtime/unmanagedJars/_global/streams/export
hw/target/.history3
hw/.bsp/sbt.json
